<div class='flex items-center'>
	<div class='flex-shrink-0 h-10 w-10 ml-5'>
		<img class='h-10 w-10 rounded-full' src='<%= img_src %>' alt='<%= local_assigns[:img_alt] %>'>
	</div>
	<div class='ml-4'>
		<div class='text-sm font-medium text-gray-900'>
			<%= text.upcase %>
		</div>
		<div class='text-sm text-gray-500'>
			<%= subtext %>
		</div>
	</div>
</div>
